
<div id="shopify-section-template--24845457883464__loyalty_program" class="shopify-section">
<section class="loyalty-programme">
  <div class="loyalty-grid">
    <div class="loyalty-card">
      <h3>WELCOMED</h3>
      <p>20 points</p>
      <ul>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
      </ul>
    </div>

    <div class="loyalty-card">
      <h3>GUEST</h3>
      <p>20–30 points</p>
      <ul>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
      </ul>
    </div>

    <div class="loyalty-card">
      <h3>HOST</h3>
      <p>31–4500 points</p>
      <ul>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
      </ul>
    </div>

    <div class="loyalty-card">
      <h3>ELITE</h3>
      <p>4500+ points</p>
      <ul>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
        <li>Lorem ipsum is simply dummy</li>
      </ul>
    </div>
  </div>

  <div class="loyalty-info">
    <div class="loyalty-info-items">
      <div class="loyal-1 loyalty-item">
         <div class="sale-header" style="font-size:20px;">Loyalty Program</div>
        <div class="offer-card">
          <img
            src="https://cdn.shopify.com/s/files/1/0921/8428/1416/files/f7b6834fe7189fd18cd7be1a66aa3528f0191d8c.jpg?v=1760626748"
            alt="Product Image"
            style="
              width: 60px;
              height: 60px; border-radius: 50%; object-fit: cover;
            "
          >
           <div class="offer-text">
          <strong>Cashback per point</strong>
          <p>Euro 10 = 01 Point</p>
        </div>

        <button class="offer-btn">Shop Now</button>
      </div>
      <hr class="seprator">

        <div class="offer-card">
        <a href="{{ product.url }}"> <!-- Wrap image in link -->
        <img
          src="{{ product.featured_image | image_url: width: 400 }}"
          alt="{{ product.title }}"
          loading="lazy"
        >
      </a>

            <div class="offer-text">
          <strong>Loyalty Offer</strong>
          <p>5% off on 3rd Order</p>
        </div>
          <button class="offer-btn">Shop Now</button>
        </div>
        <hr class="seprator">

      <div class="offer-card">
          <img
            src="https://cdn.shopify.com/s/files/1/0921/8428/1416/files/a497facdd8d00bcb90521a8f41d608f0f294b8d9.jpg?v=1760627456"
            alt=""
            style="
              width: 60px;
              height: 60px; border-radius: 50%; object-fit: cover;
            "
          >
           <div class="offer-text">
          <strong>Birthday Offer</strong>
          <p>15% off the order</p>
        </div>
          <button class="offer-btn">Shop Now</button>
        </div>
      </div>

           {% render 'loyalty-sale-product' %}

    </div>
  </div>
 <div class="reward-points">
  <img
    src="https://cdn.shopify.com/s/files/1/0921/8428/1416/files/Star1.svg?v=1760786787"
    alt="Star Icon"
  />
  <p>Earn <strong>12 points</strong> with this purchase</p>
</div>

</section>
</div>
<script type="module" src="{{ 'loyalty_program.js' | asset_url }}"></script>
{{ 'loyalty_program.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Loyalty Program",
  "settings": [],
  "target": "section"

}
{% endschema %}
